body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: 'Spartan', sans-serif;
}

h1 {
  color: hsl(300, 43%, 22%);
}

p {
  color: hsl(303, 10%, 53%);
}

.top-container {
  margin: 45px 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.top-flex-child1 {
  text-align: center;
  flex-basis: 91%;
}

.top-flex-child2 {
  flex-basis: 90%;
}

.rating {
  text-align: center;
  padding: 15px 0 5px;
  margin: 15px 0;
  border-radius: 5px;
  background-color: hsl(300, 24%, 96%);
}

.rating p {
  font-weight: bold;
  color: hsl(300, 43%, 22%);
}

.bot-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.cust-testimonial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 90%;
  border-radius: 5px;
  position: relative;
  background-color: hsl(300, 43%, 22%);
  margin: 10px 0;
}

.cust-img {
  position: absolute;
  left: 25px;
  top: 35px;
  width: 50px;
  height: auto;
  border-radius: 100%;
}

.cust-name {
  font-weight: 700;
  margin: 5px 0;
  color: hsl(0, 0%, 100%);
}

.test-heading {
  position: absolute;
  left: 100px;
  top: 40px;
}

.verification {
  font-weight: 500;
  margin: 5px 0;
  color: hsl(333, 80%, 67%);
}

.cust-text {
  color: hsl(0, 0%, 100%);
  font-size: 14px;
  line-height: 1.6;
  margin: 125px 0 25px 5px;
}

.test-text {
  margin: auto 15px;
}

.attribution {
  text-align: center;
  font-size: 10px;
}

@media only screen and (min-width: 900px) {
  .top-container {
    display: flex;
    flex-direction: row;
  }

  .top-flex-child1 {
    text-align: center;
    flex-basis: 50%;
  }

  .top-flex-child2 {
    flex-basis: 50%;
  }

  .bot-container {
    display: flex;
    flex-direction: row;
  }
}

@media only screen and (min-width: 1440px) {
  .top-container {
    display: flex;
    flex-direction: row;
  }

  .top-flex-child1 {
    text-align: left;
    flex-basis: 50%;
  }

  .main-header{
    font-size: 3rem;
    margin: 100px 250px 25px 200px;
  }

  .header-text{
    line-height: 2;
    margin: 25px 250px auto 200px;
  }

  .top-flex-child2 {
    flex-basis: 50%;
    margin-top: 100px;
  }

  .rating{
    display: inline-flex;
    justify-content: center;
    align-content: center;
    width: 60%;
  }

  .r1{
    justify-content: flex-start;
  }

  .r2{
    justify-content: center;
  }

  .r3{
    justify-content: flex-end;
  }

  .star-icon{
    width: 20px;
    height: 20px;
    margin: auto 10px auto 0;
  }

  .rating p{
    margin-left: 50px;
  }

  .bot-container {
    display: flex;
    flex-direction: row;
  }
}
